In [1]:
#creating a better match.csv
import pandas as pd

In [16]:
matchDf = pd.read_pickle('match_CLEANED.pkl')
matchDf['year'] = pd.DatetimeIndex(matchDf['date']).year
matchDf.head()

,country_id,league_id,season,stage,date,match_id,home_team_id,away_team_id,home_team_goal,away_team_goal,...,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA,year
0,1,1,2008/2009,1,2008-08-17,492473,9987,9993,1,1,...,1.65,3.4,4.5,1.78,3.25,4,1.73,3.4,4.2,2008
1,1,1,2008/2009,1,2008-08-16,492474,10000,9994,0,0,...,2,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.6,2008
2,1,1,2008/2009,1,2008-08-16,492475,9984,8635,0,3,...,2.35,3.25,2.65,2.5,3.2,2.5,2.3,3.2,2.75,2008
3,1,1,2008/2009,1,2008-08-17,492476,9991,9998,5,0,...,1.45,3.75,6.5,1.5,3.75,5.5,1.44,3.75,6.5,2008
4,1,1,2008/2009,1,2008-08-16,492477,7947,9985,1,3,...,4.5,3.4,1.65,4.5,3.5,1.65,4.75,3.3,1.67,2008

In [21]:
team_attributesDf = pd.read_pickle('team_attributes_CLEANED.pkl')
team_attributesDf['year'] = pd.DatetimeIndex(team_attributesDf['date']).year
team_attributesDf.head()

,team_id,date,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayDribbling,buildUpPlayDribblingClass,buildUpPlayPassing,buildUpPlayPassingClass,buildUpPlayPositioningClass,chanceCreationPassing,...,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass,year
0,9930,2010-02-22,60,Balanced,48.607362,Little,50,Mixed,Organised,60,...,Normal,Organised,50,Medium,55,Press,45,Normal,Cover,2010
1,9930,2014-09-19,52,Balanced,48.000000,Normal,56,Mixed,Organised,54,...,Normal,Organised,47,Medium,44,Press,54,Normal,Cover,2014
2,9930,2015-09-10,47,Balanced,41.000000,Normal,54,Mixed,Organised,54,...,Normal,Organised,47,Medium,44,Press,54,Normal,Cover,2015
3,8485,2010-02-22,70,Fast,48.607362,Little,70,Long,Organised,70,...,Lots,Organised,60,Medium,70,Double,70,Wide,Cover,2010
4,8485,2011-02-22,47,Balanced,48.607362,Little,52,Mixed,Organised,53,...,Normal,Organised,47,Medium,47,Press,52,Normal,Cover,2011

In [22]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\hhong\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (1.4.2)
Requirement already satisfied: greenlet!=0.4.17; python_version >= "3" in c:\users\hhong\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from sqlalchemy) (1.0.0)

WARNING: You are using pip version 20.2.3; however, version 21.0.1 is available.
You should consider upgrading via the 'C:\Users\hhong\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

In [23]:
#for using sql join to make things easier
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

In [24]:
matchDf.to_sql('match', con=engine)
team_attributesDf.to_sql('team_attributes', con=engine)

In [41]:
COMMAND = "SELECT match.match_id, match.home_team_id, match.away_team_id, match.date, match.home_team_goal, match.away_team_goal, home_team.buildUpPlaySpeed, home_team.buildUpPlayDribbling, home_team.buildUpPlayPassing, home_team.chanceCreationPassing, home_team.chanceCreationCrossing, home_team.chanceCreationShooting, home_team.defencePressure, home_team.defenceAggression, home_team.defenceTeamWidth, away_team.buildUpPlaySpeed, away_team.buildUpPlayDribbling, away_team.buildUpPlayPassing, away_team.chanceCreationPassing, away_team.chanceCreationCrossing, away_team.chanceCreationShooting, away_team.defencePressure, away_team.defenceAggression, away_team.defenceTeamWidth FROM match INNER JOIN team_attributes AS home_team ON home_team.team_id = match.home_team_id AND home_team.year = match.year INNER JOIN team_attributes AS away_team ON away_team.team_id = match.away_team_id AND away_team.year = match.year"
complete_matchDf = pd.DataFrame(engine.execute(COMMAND))

In [44]:
proper_column_name = [
    'match_id',
    'home_team_goal',
    'away_team_goal',
    'date',
    'home_team_goal',
    'away_team_goal',
    'home_team_build_up_play_speed',
    'home_team_build_up_play_dribbling',
    'home_team_build_up_play_passing',
    'home_team_chance_creationg_passing',
    'home_team_chance_creation_crossing',
    'home_team_chance_creation_shooting',
    'home_team_defence_pressure',
    'home_team_defence_aggression',
    'home_team_defence_team_width',
    'away_team_build_up_play_speed',
    'away_team_build_up_play_dribbling',
    'away_team_build_up_play_passing',
    'away_team_chance_creationg_passing',
    'away_team_chance_creation_crossing',
    'away_team_chance_creation_shooting',
    'away_team_defence_pressure',
    'away_team_defence_aggression',
    'away_team_defence_team_width',
]

In [45]:
complete_matchDf.columns = proper_column_name

In [46]:
complete_matchDf.head()

,match_id,home_team_goal,away_team_goal,date,home_team_goal,away_team_goal,home_team_build_up_play_speed,home_team_build_up_play_dribbling,home_team_build_up_play_passing,home_team_chance_creationg_passing,...,home_team_defence_team_width,away_team_build_up_play_speed,away_team_build_up_play_dribbling,away_team_build_up_play_passing,away_team_chance_creationg_passing,away_team_chance_creation_crossing,away_team_chance_creation_shooting,away_team_defence_pressure,away_team_defence_aggression,away_team_defence_team_width
0,665626,8635,8342,2010-02-03 00:00:00.000000,3,2,50,48.607362,35,70,...,70,35,48.607362,40,45,50,45,60,70,70
1,665630,9986,9985,2010-02-04 00:00:00.000000,2,3,40,48.607362,50,45,...,70,53,48.607362,40,55,55,65,70,70,65
2,665634,8203,9993,2010-02-02 00:00:00.000000,1,0,65,48.607362,60,50,...,60,35,48.607362,35,45,40,50,70,70,70
3,665665,8342,10001,2010-01-30 00:00:00.000000,2,1,35,48.607362,40,45,...,70,45,48.607362,60,40,45,55,70,70,70
4,665666,9985,8635,2010-01-17 00:00:00.000000,0,4,53,48.607362,40,55,...,65,50,48.607362,35,70,50,60,70,50,70

In [47]:
complete_matchDf.to_csv('complete_match.csv', index=False)
complete_matchDf.to_pickle("complete_match.pkl")